.app-container {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.placeholder {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: white;
  box-sizing: border-box;
}

.code-preview-container {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
}
.code-editors {
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  width: 100%;  /* or another value that fits your layout */
} 

.editor {
  flex: 1 1 33.3333%;
  min-width: 0;
}

.editor-content {
  flex: 1 1 33.3333%;
  margin: 1px;
  overflow: auto;
  min-width: 0;
  height: 100%;
}

.label {
  color:teal;
  font-size: 1em;
  font-weight: bold;
}

.preview {
  width: 100%;
  height: calc(100% - 40px);
  border: 5px solid rgb(0, 0, 0);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid #333;
}

.tabs button:hover {
  border-bottom: 2px solid teal;
  color:teal
}


