.app-container {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.placeholder {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: white;
  box-sizing: border-box;
}

.code-preview-container {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
}
.code-editors {
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  width: 100%;  /* or another value that fits your layout */
} 


