.chatbot-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .chatbotContainer .inputArea textarea {
    font-size: 20px;  /* adjust to your preference */
    /* other styles as before */
  }

  .userMessage {
    margin-left: auto;
    background-color: #008080;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
  }

  .botMessage {
    margin-right: auto;
    background-color: #D3D3D3; /* Light gray, adjust as desired */
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 10px;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .input-area {
    display: flex;
    margin-top: auto;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .input-field {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    height: 100px; /* Adjust this value to change the height of the textarea */
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* This prevents the user from resizing the textarea */
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background: white;
    color: teal;
  }
  