.editor {
  flex: 1 1 33.3333%;
  min-width: 0;
}

.editor-content {
  flex: 1 1 33.3333%;
  margin: 1px;
  overflow: auto;
  min-width: 0;
  height: 100%;
}

.label {
  color:teal;
  font-size: 1em;
  font-weight: bold;
  background: white;
}

.preview {
  width: 100%;
  height: calc(100% - 40px);
  border: 5px solid rgb(0, 0, 0);
}
